@media (min-width: 320px) {
  /* Estilos Primera seccion */
  .section_primera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #img-a {
    width: auto;
    height: auto;
  }
  #iconoLista {
    width: auto;
    height: auto;
    cursor: pointer;
  }
  #list_icon_burger {
    display: none;
  }
  .box_list {
    margin: 10px auto;
    padding: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
  }
  .boton_close {
    font-size: 18px;
    font-weight: bold;
    line-height: 50%;
    padding: 8px;
    border-radius: 50%;
    background-color: #67808e;
    color: #fff;
    cursor: pointer;
    text-align: justify;
  }
  .botonera_burger {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 10px;
    gap: 20px;
  }
  .div_buttons {
    position: relative;
  }
  .button_reference {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
    z-index: 1;
    display: none;
  }
  .rotate {
    transform: rotateY(180deg);
  }
  /* Estilos Segunda seccion  */
  .section_segunda {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #tituloIngreseTexto {
    font-size: 32px;
    color: #0a3871;
  }
  .msjValidacion {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .errorAlert {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: red;
  }
  .errorAlert i {
    font-size: 16px;
  }
  .okAlert {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: green;
  }
  .okAlert i {
    font-size: 16px;
  }
  #iconoExclamacion {
    font-size: 16px;
    color: #67808e;
  }
  #exclamacionAviso {
    font-size: 12px;
    font-weight: 400;
    color: #495057;
  }
  .div_botones {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #btnCopiar {
    display: none;
  }
  #alertCopied {
    display: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(45, 125, 224);
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    font-style: italic;
    position: absolute;
    margin-top: 10px;
  }
  .show {
    animation: msjCopied 2s forwards;
  }
  /* Estilos Aside */
  #texto_aside {
    order: 1;
    width: 100%;
  }
  #img-personaBuscando {
    display: none;
  }
  .div_leyendas {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #leyendaSinMsj {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    display: none;
  }
  #leyendaIngreseMsj {
    font-size: 16px;
    font-weight: normal;
    color: #495057;
  }
}

@media (min-width: 768px) {
  .div_botones {
    display: flex;
    flex-direction: row;
  }
  #list_icon_burger {
    display: none;
    margin: 10px 0;
    padding: 5px 0px;
    width: 40%;
    gap: 0;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .section_primera {
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 5%;
  }
  #list_icon_burger {
    display: none;
    height: 40%;
    flex-direction: column;
  }
  .botonera_burger {
    flex-direction: column;
  }
  .button_reference {
    margin-left: 40px;
    margin-top: -20px;
  }
  .section_segunda {
    width: 60%;
    justify-content: end;
  }
  aside {
    width: 40%;
    justify-content: center;
  }
  #img-personaBuscando {
    display: inline-block;
  }
  .div_img_aside {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div_leyendas {
    padding: 25px;
  }
}

@keyframes msjCopied {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 80%;
  }
  40% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  80% {
    opacity: 80%;
  }
  100% {
    opacity: 0%;
  }
}

.toast-error {
  background-color: red ; 
  color: #FFFFFF; 
  text-align: center
}